html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../../fonts/Gilroy-Extrabold.woff2");
}
@font-face {
  font-family: "Monument", sans-serif;
  src: url("../../fonts/MonumentExtended-Ultrabold.otf");
}
html {
  box-sizing: border-box;
  font-family: "Red Rose", serif;
  font-size: 20px;
  font-weight: 400;
}

body {
  background-color: #101010;
  color: #F8F8F8;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

[class*=__container] {
  max-width: 1650px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  color: inherit;
}

.button-colory {
  display: block;
  text-align: center;
  width: 150px;
  padding: 15px 0;
  background-color: #52FFE0;
  border-radius: 50px;
  color: #101010;
  transition: all 300ms linear;
}
.button-colory:hover {
  background-color: #7F1CFC;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #F8F8F8;
}

.main {
  margin-top: 165px;
}

@media (max-width: 375px) {
  .main {
    margin-top: 155px;
  }
}
.section__title {
  font-size: 30px;
  font-family: "Monument Extended Bold", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

@media (max-width: 480px) {
  .section__title {
    font-size: 24px;
    text-align: center;
  }
}
.header {
  padding: 37px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  transition: background-color 300ms linear;
}
.header_active {
  background-color: #000;
}
@media (max-width: 375px) {
  .header {
    padding: 50px 0;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 375px) {
  .header__container {
    padding: 0 26px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  font-family: "Gilroy", sans-serif;
  font-size: 36px;
  gap: 11px;
}
@media (max-width: 375px) {
  .header__logo {
    font-size: 24px;
    gap: 4px;
  }
}
@media (max-width: 375px) {
  .header__logo svg {
    width: 32px;
    height: 40px;
  }
}
@media (max-width: 800px) {
  .header__nav {
    display: none;
  }
}
.header__nav-list {
  display: flex;
  gap: 42px;
}
.header__nav-link {
  font-size: 18px;
  display: block;
  transition: all 300ms linear;
}
.header__nav-link:hover {
  color: #7F1CFC;
  transform: scale(1.15);
}
.header__link-button {
  width: 180px;
  font-size: 16px;
}
@media (max-width: 800px) {
  .header__link-button {
    display: none;
  }
}
.header__link-button_mobile {
  display: block;
  width: 150px;
  padding: 12px 0;
}
.header__mobile-menu-link {
  display: none;
}
@media (max-width: 800px) {
  .header__mobile-menu-link {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
.header__mobile-menu-line {
  width: 25px;
  height: 2px;
  background-color: #F8F8F8;
  transition: transform 300ms linear;
}
.header__mobile-menu-line_rotate1 {
  transform: rotate(45deg);
}
.header__mobile-menu-line_none {
  display: none;
}
.header__mobile-menu-line_rotate2 {
  transform: rotate(-45deg) translate(5px, -5px);
}
.header__mobile-menu-list {
  position: fixed;
  background-color: #000;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(51, 51, 51, 0.4)), url("../images/header/header-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 130px;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transform: translateX(-120%);
  transition: transform 500ms ease-in;
  z-index: 10;
}
.header__mobile-menu-list_active {
  transform: translate(0);
}
@media (min-width: 801px) {
  .header__mobile-menu-list {
    display: none;
  }
}
.header__mobile-menu-socials {
  display: flex;
  gap: 10px;
}
.header__mobile-menu-link {
  font-size: 18px;
  font-weight: 500;
  transition: transform 300ms linear;
}
.header__mobile-menu-link:hover {
  transform: scale(1.2);
  color: rgb(187, 65, 235);
}
.header__mobile-menu-social-link svg {
  transition: all 300ms linear;
}
.header__mobile-menu-social-link svg:hover {
  fill: rgb(187, 65, 235);
}

.collect {
  font-family: "Monument Extended Bold", sans-serif;
  font-weight: 400;
  font-size: 36px;
}
@media (max-width: 1250px) {
  .collect {
    margin-bottom: 120px;
  }
}
@media (max-width: 480px) {
  .collect {
    margin-bottom: 30px;
  }
}
.collect__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 1250px) {
  .collect__container {
    align-items: center;
  }
}
@media (max-width: 1150px) {
  .collect__container {
    flex-direction: column;
  }
}
.collect__left {
  max-width: 704px;
  margin-top: 90px;
  margin-left: 13px;
}
@media (max-width: 1899px) {
  .collect__left {
    margin-left: 0;
  }
}
@media (max-width: 1450px) {
  .collect__left {
    margin-top: 0;
  }
}
@media (max-width: 1250px) {
  .collect__left {
    max-width: 500px;
  }
}
.collect__subtitle {
  margin-bottom: 26px;
  letter-spacing: 1.44px;
}
@media (max-width: 1600px) {
  .collect__subtitle {
    font-size: 28px;
  }
}
@media (max-width: 1250px) {
  .collect__subtitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1150px) {
  .collect__subtitle {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .collect__subtitle {
    font-size: 18px;
  }
}
.collect__title {
  font-size: 72px;
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 2.88px;
  line-height: 115%;
}
@media (max-width: 1600px) {
  .collect__title {
    font-size: 60px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1250px) {
  .collect__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1150px) {
  .collect__title {
    text-align: center;
  }
}
@media (max-width: 550px) {
  .collect__title {
    margin-bottom: 32px;
  }
}
@media (max-width: 480px) {
  .collect__title {
    font-size: 30px;
  }
}
@media (min-width: 376px) {
  .collect__title br {
    display: none;
  }
}
@media (max-width: 550px) {
  .collect__descr {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
  }
}
@media (max-width: 375px) {
  .collect__descr {
    width: 260px;
  }
}
.collect__descr-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 582px;
  margin-bottom: 51px;
}
@media (max-width: 550px) {
  .collect__descr-top {
    flex-direction: column;
    width: 100px;
  }
}
.collect__button {
  font-family: "Red Rose", serif;
  font-weight: 700;
  font-size: 18px;
  padding: 21px 0 22px;
}
@media (max-width: 550px) {
  .collect__button {
    display: none;
  }
}
.collect__button_mobile {
  display: none;
}
@media (max-width: 550px) {
  .collect__button_mobile {
    display: block;
    margin: 0 auto 60px;
  }
}
@media (max-width: 480px) {
  .collect__button_mobile {
    padding: 24px 0 19px;
  }
}
@media (max-width: 550px) {
  .collect__users {
    display: flex;
    flex-direction: column;
  }
}
.collect__user:nth-child(2) {
  transform: translateX(-32px);
}
@media (max-width: 550px) {
  .collect__user:nth-child(2) {
    transform: translateY(-16px);
  }
}
.collect__user:nth-child(3) {
  transform: translateX(-64px);
}
@media (max-width: 550px) {
  .collect__user:nth-child(3) {
    transform: translateY(-32px);
  }
}
.collect__arrow {
  transform: translate(-105px, 44px);
}
@media (max-width: 550px) {
  .collect__arrow {
    transform: translate(36px, -18px) rotate(110deg) scaleY(-1);
  }
}
@media (max-width: 480px) {
  .collect__arrow img {
    width: 95px;
    height: 78px;
  }
}
.collect__advantages-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 505px;
}
@media (max-width: 550px) {
  .collect__advantages-list {
    flex-direction: column;
    gap: 32px;
    margin-top: -75px;
  }
}
@media (max-width: 375px) {
  .collect__advantages-list {
    margin-top: -37px;
    margin-right: 27px;
  }
}
.collect__advantages-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collect__advantages-list-number {
  font-size: 30px;
  margin-bottom: 13px;
}
.collect__advantages-list-text {
  font-family: "Red Rose", serif;
  font-size: 16px;
  font-weight: 400;
  color: #818698;
}
.collect__hero {
  position: relative;
  z-index: 1;
  width: 778px;
  height: 760px;
}
.collect__hero::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, #7F1CFC 0%, #59DCDC 100%);
  z-index: -1;
  border-radius: 180px;
  filter: blur(50px);
}
@media (max-width: 1600px) {
  .collect__hero {
    width: 591px;
    height: 578px;
  }
}
@media (max-width: 650px) {
  .collect__hero {
    width: 489px;
    height: 478px;
  }
}
@media (max-width: 550px) {
  .collect__hero {
    display: none;
  }
}
.collect__hero_mobile {
  display: none;
}
@media (max-width: 550px) {
  .collect__hero_mobile {
    display: block;
    margin: 0 auto 62px;
    width: 400px;
    height: 387px;
  }
}
@media (max-width: 480px) {
  .collect__hero_mobile {
    width: 322px;
    height: 315px;
  }
}
.collect__hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collect__info-button {
  width: 200px;
  height: 200px;
  background-color: rgba(129, 134, 152, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 50%;
  position: relative;
  transform: translate(-49%, -90%);
  position: relative;
  z-index: 6;
  animation: circle 10s infinite linear;
}
@media (max-width: 1250px) {
  .collect__info-button {
    display: none;
  }
}
@keyframes circle {
  from {
    transform: translate(-49%, -90%) rotate(0deg);
  }
  to {
    transform: translate(-49%, -90%) rotate(360deg);
  }
}
.collect__info-text {
  font-size: 16px;
}
.collect__info-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: link-static 10s infinite linear;
}
@keyframes link-static {
  from {
    transform: translate(-50%, -50%) rotate(359deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.collect__info-button b {
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  bottom: 50%;
  width: 0;
}

.b_1 {
  transform: rotate(18.91deg);
  top: 13px;
  right: 94px;
}

.b_2 {
  transform: rotate(36.957deg);
  top: 19px;
  right: 76px;
}

.b_3 {
  transform: rotate(53.699deg);
  top: 25px;
  right: 65px;
}

.b_4 {
  transform: rotate(83.198deg);
  top: 60px;
  right: 36px;
}

.b_5 {
  transform: rotate(103.395deg);
  top: 112px;
  right: 12px;
}

.b_6 {
  transform: rotate(121.466deg);
  top: 140px;
  right: 20px;
}

.b_7 {
  transform: rotate(139.537deg);
  top: 161px;
  right: 34px;
}

.b_8 {
  transform: rotate(157.076deg);
  top: 178px;
  right: 57px;
}

.b_9 {
  transform: rotate(173.818deg);
  top: 187px;
  right: 81px;
}

.b_10 {
  transform: rotate(-168.908deg);
  top: 189px;
  right: 107px;
}

.b_11 {
  transform: rotate(-152.697deg);
  top: 183px;
  right: 133px;
}

.b_12 {
  transform: rotate(-135.423deg);
  top: 170px;
  right: 152px;
}

.b_13 {
  transform: rotate(-116.821deg);
  top: 150px;
  right: 170px;
}

.b_14 {
  transform: rotate(-99.813deg);
  top: 124px;
  right: 183px;
}

.b_15 {
  transform: rotate(-72.175deg);
  top: 76px;
  right: 174px;
}

.b_16 {
  transform: rotate(-54.635deg);
  top: 46px;
  right: 152px;
}

.b_17 {
  transform: rotate(-38.69deg);
  top: 32px;
  right: 139px;
}

.b_18 {
  transform: rotate(-21.682deg);
  top: 22px;
  right: 126px;
}

.categories {
  margin-top: -77px;
  margin-left: 13px;
  margin-bottom: 80px;
}
@media (max-width: 1899px) {
  .categories {
    margin-top: 0;
    margin-left: 0;
  }
}
@media (max-width: 1700px) {
  .categories {
    padding: 0 30px;
  }
}
@media (max-width: 1450px) {
  .categories {
    padding: 0;
  }
}
@media (max-width: 375px) {
  .categories {
    margin-bottom: 83px;
  }
}
.categories__container {
  position: relative;
}
@media (max-width: 1450px) {
  .categories__container {
    padding: 0 0 0 35px;
  }
}
@media (max-width: 1899px) {
  .categories {
    margin-top: 0;
  }
}
.categories__title {
  margin-bottom: 75px;
}
@media (max-width: 480px) {
  .categories__title {
    margin-bottom: 24px;
    line-height: 152%;
  }
}
@media (max-width: 375px) {
  .categories__title {
    margin-right: 40px;
  }
}
.categories__card {
  background-color: #2C2D31;
  width: 245px;
  padding: 10px 0 51px;
  border-radius: 50px;
  margin-bottom: 40px;
}
.categories__card-photo {
  margin: 0 auto 51px;
  width: 225px;
}
.categories__card-title {
  font-size: 24px;
  text-align: center;
}
.categories__slider {
  position: static;
}
.categories__swiper-pagination {
  display: none;
}
@media (max-width: 1450px) {
  .categories__swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.categories__swiper-pagination .swiper-pagination-bullet {
  border-radius: 16px;
  border: 1px solid #FFF;
  width: 16px;
  height: 16px;
}
.categories__swiper-pagination .swiper-pagination-bullet-active {
  border-radius: 16px;
  background: #7F1CFC;
  border: none;
}
.categories__swiper-wrapper {
  position: static;
}
.categories__swiper-slide {
  position: static;
}

.swiper-button-left,
.swiper-button-right {
  width: 70px;
  height: 70px;
  background-color: #2C2D31;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1450px) {
  .swiper-button-left,
  .swiper-button-right {
    display: none;
  }
}

.swiper-button-left {
  position: absolute;
  left: -15px;
  top: 50%;
  z-index: 10;
}

.swiper-button-right {
  position: absolute;
  right: -22px;
  top: 50%;
}
@media (max-width: 1700px) {
  .swiper-button-right {
    right: 40px;
  }
}

.tops {
  background-color: #1D1E22;
  padding: 120px 15px 208px;
  font-size: 16px;
}
@media (max-width: 480px) {
  .tops {
    padding: 0;
    background-color: #101010;
  }
}
.tops__container {
  padding: 0 8px 0 22px;
}
@media (max-width: 1899px) {
  .tops__container {
    padding: 0 15px;
  }
}
.tops__top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
@media (max-width: 700px) {
  .tops__top-box {
    display: none;
  }
}
@media (max-width: 700px) {
  .tops__title {
    text-align: center;
  }
}
@media (max-width: 375px) {
  .tops__title {
    max-width: 200px;
  }
}
.tops__title-mobile {
  display: none;
}
@media (max-width: 480px) {
  .tops__title-mobile {
    display: block;
    font-size: 24px;
    font-family: "Monument Extended Bold";
    text-align: center;
    text-transform: uppercase;
    max-width: 206px;
    margin: 0 auto 24px;
    line-height: 150%;
  }
}
.tops__buttons {
  background-color: #2C2D31;
  width: 293px;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  position: relative;
  height: 70px;
}
@media (max-width: 700px) {
  .tops__buttons {
    display: none;
  }
}
.tops__button {
  width: 150px;
  background-color: #2C2D31;
  font-size: 16px;
  color: #F8F8F8;
  border: none;
  outline: none;
  padding: 20px 47px;
  white-space: nowrap;
  transition: background-color 300ms linear;
  border-radius: 20px;
  position: absolute;
}
.tops__button_second {
  top: 5px;
  right: 5px;
}
.tops__button_first {
  z-index: 1;
  top: 5px;
  left: 5px;
}
.tops__button_active {
  background-color: #1D1E22;
  z-index: 2;
}
.tops__users {
  display: none;
  gap: 27px 30px;
  flex-wrap: wrap;
  margin-bottom: 72px;
}
.tops__users_active {
  display: flex;
}
@media (max-width: 1500px) {
  .tops__users {
    display: grid;
    grid-template-columns: 480px 480px;
    justify-content: center;
  }
}
@media (max-width: 1050px) {
  .tops__users {
    display: flex;
  }
}
@media (max-width: 480px) {
  .tops__users {
    margin-bottom: 46px;
  }
}
@media (max-width: 375px) {
  .tops__users {
    gap: 8px;
  }
}
.tops__card {
  width: 520px;
  background-color: #2C2D31;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 10px;
}
@media (max-width: 1700px) {
  .tops__card {
    width: 460px;
  }
}
@media (max-width: 1500px) {
  .tops__card:nth-child(-n+4) {
    display: none;
  }
}
@media (max-width: 1150px) {
  .tops__card:nth-child(-n+6) {
    display: none;
  }
}
@media (max-width: 1050px) {
  .tops__card {
    width: 400px;
  }
}
@media (max-width: 900px) {
  .tops__card {
    max-width: 520px;
  }
}
@media (max-width: 480px) {
  .tops__card {
    flex-direction: column;
    border-radius: 20px;
  }
  .tops__card:nth-child(-n+9) {
    display: none;
  }
}
@media (max-width: 375px) {
  .tops__card {
    width: 327px;
    padding-bottom: 17px;
  }
}
.tops__card-left {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 480px) {
  .tops__card-right {
    margin-left: 38px;
    margin-top: -10px;
  }
}
.tops__card-photo {
  position: relative;
}
.tops__card-order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #52FFE0;
  color: #2C2D31;
  position: absolute;
  top: 2px;
  right: -9px;
}
.tops__card-title {
  font-size: 24px;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .tops__card-title {
    white-space: nowrap;
  }
}
.tops__card-text-floor {
  color: #818698;
}
.tops__card-text-eth {
  margin-bottom: 5px;
}
.tops__card-text-doll {
  color: #818698;
  margin-bottom: 5px;
}
.tops__card-text-perc {
  color: #52FFE0;
  font-size: 14px;
}
.tops__users-button {
  margin: 0 auto;
  width: 180px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .tops__users-button {
    color: #F8F8F8;
  }
}

/*# sourceMappingURL=main.css.map */
