.categories {
  margin-top: -77px;
  margin-left: 13px;
  // overflow: hidden;
  margin-bottom: 80px;

  @include on1899 {
    margin-top: 0;
    margin-left: 0;
  }

  @include on1700 {
    padding: 0 30px;
  }

  @include on1450 {
    padding: 0;
  }

  @include on375 {
    margin-bottom: 83px;
  }
  

  &__container {
    // max-width: 1720px;
    position: relative;

    @include on1450 {
      padding: 0 0 0 35px;
    }
  }

  @include on1899 {
    margin-top: 0;
  }
  &__title {
    margin-bottom: 75px;

    @include on480 {
      margin-bottom: 24px;
      line-height: 152%;
    }

    @include on375 {
      margin-right: 40px;
    }
  }

  &__card {
    background-color: $light-black-color;
    width: 245px;
    padding: 10px 0 51px;
    border-radius: 50px;
    margin-bottom: 40px;
    @include on480 {
      
    }
  }

  &__card-photo {
    margin: 0 auto 51px;
    width: 225px;
  }

  &__card-title {
    font-size: 24px;
    text-align: center;
  }

  &__slider {
    position: static;
  }

  &__swiper-pagination {
    display: none;

    @include on1450 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__swiper-pagination .swiper-pagination-bullet{
    border-radius: 16px;
    border: 1px solid #FFF;
    width: 16px;
    height: 16px;
  }

  // &__swiper-pagination .swiper-pagination-bullet:nth-child(-n + 4){
  //  display: none;
  // }

  &__swiper-pagination .swiper-pagination-bullet-active {
    border-radius: 16px;
    background: #7F1CFC;
    border: none;
  }

  &__swiper-wrapper {
    position: static;
  }

  &__swiper-slide {
    position: static;

    // &:nth-child(-n + 4) {
    //   @include on480 {
    //     display: none;
    //   }
    // } 

    &_del {
      @include on480 {
        display: none;
      }
    }
  }
}

.swiper-button-left,
.swiper-button-right {
  width: 70px;
  height: 70px;
  background-color: $light-black-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 300ms linear;

  &:hover {
    background-color: $light-blue-color;
  }

  @include on1450 {
    display: none;
  }


}

.swiper-button-left {
  position: absolute;
  left: -15px;
  top: 50%;
  z-index: 10;
}

.swiper-button-right {
  position: absolute;
  right: -22px;
  top: 50%;

  @include on1700 {
    right: 40px;
  }
}


