.collect {
  font-family: "Monument Extended Bold",sans-serif;
  font-weight: 400;
  font-size: 36px;

  @include on1250 {
    margin-bottom: 120px;
  }

  @include on480 {
    margin-bottom: 30px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    @include on1250 {
      align-items: center;
    }

    @include on1150 {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 704px;
    margin-top: 90px;
    margin-left:13px;

    @include on1899 {
      margin-left: 0;
    }

    @include on1450 {
      margin-top: 0;
    }

    @include on1250 {
      max-width: 500px;
    }
  }

  &__subtitle {
    margin-bottom: 26px;
    // text-transform: uppercase;
    letter-spacing: 1.44px;

    @include on1600 {
      font-size: 28px;
    }

    @include on1250 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    @include on1150 {
      text-align: center;
    }

    @include on480 {
      font-size: 18px;
    }
  }

  &__title {
    font-size: 72px;
    margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    line-height: 115%;

    @include on1600 {
      font-size: 60px;
      margin-bottom: 25px;
    }

    @include on1250 {
      font-size: 40px;
      margin-bottom: 10px;
    }

    @include on1150 {
      text-align: center;
    }

    @include on550 {
      margin-bottom: 32px;
    }

    @include on480 {
      font-size: 30px;
    }
  }

  &__title br {
    @include on376 {
      display: none;
    }
  }

  &__descr {
    @include on550 {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;
    }
    @include on375 {
      width: 260px;
    }
  }

  &__descr-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 582px;
    margin-bottom: 51px;
    
    @include on550 {
      flex-direction: column;
      width: 100px;
    }
  }

  &__button {
    font-family: 'Red Rose', serif;
    font-weight: 700;
    font-size: 18px;
    padding: 21px 0 22px;

    @include on550 {
      display: none;
    }

    &_mobile {
      display: none;

      @include on550 {
        display: block;
        margin: 0 auto 60px;
      }

      @include on480 {
        padding: 24px 0 19px;
      }
    }
  }

  &__users {
    @include on550 {
      display: flex;
      flex-direction: column;
      // width: 100px;
    }
  }

  &__user {
    &:nth-child(2) {
      transform: translateX(-32px);

      @include on550 {
        transform: translateY(-16px);
      }
    }

    &:nth-child(3) {
      transform: translateX(-64px);

      @include on550 {
        transform: translateY(-32px);
      }
    }
  }

  &__arrow {
    transform: translate(-105px, 44px);

    @include on550 {
      transform: translate(36px, -18px) rotate(110deg) scaleY(-1);
    }
  }

  &__arrow img {
    @include on480 {
      width: 95px;
      height: 78px;
    }
  }

  &__advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 505px;

    @include on550 {
      flex-direction: column;
      gap: 32px;
      margin-top: -75px;
    }
    @include on375 {
      margin-top: -37px;
      margin-right: 27px;
    }
  }

  &__advantages-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__advantages-list-number {
    font-size: 30px;
    margin-bottom: 13px;
  }

  &__advantages-list-text {
    font-family: 'Red Rose', serif;
    font-size: 16px;
    font-weight: 400;
    color: #818698;
  }

  &__hero {
    
    // filter: blur(50px);
    position: relative;
    z-index: 1;
    width: 778px;
    height: 760px;
    // padding: 2px;
    // border-radius: 180px;

    &::before {
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(180deg, #7F1CFC 0%, #59DCDC 100%);
      z-index: -1;
      border-radius: 180px;
      filter: blur(50px);

    }

    @include on1600 {
      width: 591px;
      height: 578px;
    }

    @include on650 {
      width: 489px;
      height: 478px;
    }

    @include on550 {
      display: none;
    }

    &_mobile {
      display: none;

      @include on550 {
        display: block;
        margin: 0 auto 62px;
        width: 400px;
        height: 387px;
      }

      @include on480 {
        width: 322px;
        height: 315px;
      }
    }
   
  }

  &__hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info-button {
    width: 200px;
    height: 200px;
    background-color: rgba(129, 134, 152, 0.20);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter:blur(25px);
    border-radius: 50%;
    position: relative;
    transform: translate(-49%, -90%);
    position: relative;
    z-index: 6;
    animation: circle 10s infinite linear;

    @include on1250 {
      display: none;
    }
  }

  @keyframes circle {
    from{
      transform: translate(-49%, -90%) rotate(0deg);
    }
    to{
      transform: translate(-49%, -90%) rotate(360deg);
    }
  }

  &__info-text {
    font-size: 16px;
  }

  &__info-link {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    animation: link-static 10s infinite linear;
  }

  @keyframes link-static {
    from {
      transform: translate(-50%, -50%) rotate(359deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  &__info-button b {
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    bottom: 50%;
    width: 0;
  }
}

.b_1 {
  transform: rotate(18.91deg);
  top:13px;
  right: 94px;
}

.b_2 {
  transform: rotate(36.957deg);
  top: 19px;
  right: 76px;
}

.b_3 {
  transform: rotate(53.699deg);
  top: 25px;
  right: 65px;
}

.b_4 {
  transform: rotate(83.198deg);
  top: 60px;
  right: 36px;
}

.b_5 {
  transform: rotate(103.395deg);
  top: 112px;
  right: 12px;
}

.b_6 {
  transform: rotate(121.466deg);
  top: 140px;
  right: 20px;
}

.b_7 {
  transform: rotate(139.537deg);
  top: 161px;
  right: 34px;
}

.b_8 {
  transform: rotate(157.076deg);
  top: 178px;
  right: 57px;
}
.b_9 {
  transform: rotate(173.818deg);
  top: 187px;
  right: 81px;
}

.b_10 {
  transform: rotate(-168.908deg);
  top: 189px;
  right: 107px;
}

.b_11 {
  transform: rotate(-152.697deg);
  top: 183px;
  right: 133px;
}

.b_12 {
  transform: rotate(-135.423deg);
  top: 170px;
  right: 152px;
}

.b_13 {
  transform: rotate(-116.821deg);
  top: 150px;
  right: 170px;
}

.b_14 {
  transform: rotate(-99.813deg);
  top: 124px;
  right: 183px;
}

.b_15 {
  transform: rotate(-72.175deg);
  top: 76px;
  right: 174px;
}

.b_16 {
  transform: rotate(-54.635deg);
  top: 46px;
  right: 152px;
}

.b_17 {
  transform: rotate(-38.69deg);
  top: 32px;
  right: 139px;
}

.b_18 {
  transform: rotate(-21.682deg);
  top: 22px;
  right: 126px;
}
// .circle {
//   display: block;
//   overflow: visible;
//   width: 100px;
//   font-size: 28px;
//   fill: red;
// }

// .circle path {
//   fill: none;
// }