.insights {
  padding: 120px 0;
  background-color: $middle-black-color;

  @include on480 {
    padding: 80px 0;
  }

  &__container {
    // padding: 0 25px;
    max-width: 1684px;
    padding-left: 43px;
    @include on1899 {
      padding: 0 15px;
    }
    @include on1450 {
      padding-right: 0;
    }

  }

  &__title {
    margin-bottom: 54px;
    @include on480 {
      display: none;
    }
  }

  &__title-mobile {
    display: none;

    @include on480 {
      display: block;
      font-size: 24px;
      margin-bottom: 40px;
      font-family: "Monument Extended Bold";
      font-weight: 400;
    }
  }

  &__slider {
    overflow: hidden;
  }

  &__card {
    width: 500px;
    // position: relative;
    @include on550 {
      margin: 0 auto;
    }
    @include on480 {
      width: 315px;
      margin: 0 auto;
    }
  }

  &__photo {
    // width: 500px;
    // height: 312px;
    position: relative;
    margin-bottom: 26px;
    border-radius: 50px;
    aspect-ratio: 1.6 / 1;

    @include on480 {
      // width: 315px;
      margin-bottom: 36px;
    }
  }

  &__img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
  border-radius: 50px;
  }

  &__card-descr {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    @include on480 {
      margin-bottom: 17px;
      width: 343px;
      justify-content: center;
      gap: 16px;
    }

  }

  &__card-prof {
    border-radius: 36px;
    background: #F3F5F6;
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    font-size: 12px;
    line-height: 150%;
    color: #0A142F;
    display: inline-block;
    width: 110px;
    text-align: center;
    padding: 5px 0;

    &_first {
      margin-right: 14px;
    }

    &_second {
      width: 74px;
      margin-right: 50px;
    }

    &_third {
      width: 121px;
    }

    @include on480 {
      display: none;
    }
  }

  &__card-prof-mobile {
    display: none;

    @include on480 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 0;
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      border-radius: 36px;
      background-color: #ee0000;
      width: 104px;
      box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
      margin-right: 10px;
    }
  }

  &__card-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #DFE5F5;

    @include on480 {
      font-family: 'Bebas Neue', sans-serif;
    }
  }

  &__card-text{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 55px;

    @include on480 {
      
      display: none;
    }
  }

  &__card-text-mobile {
    display: none;

    @include on480 {
      display: block;
      text-align: center;
      margin-bottom: 32px;
      font-family: 'Inter', sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
        /* 160% */
    }
  }

  &__card-button {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #fff;
    padding: 16px 0;
    border-radius: 30px;
    font-size: 16px;
    transition: all 300ms linear;

    &:hover {
      background-color: $light-blue-color;
      color: $black-color;
    }

    @include on480 {
      margin: 0 auto;
    }
  }
}